<footer class="footer">
   <div class="footer__container-m">
      <div class="footer__content">
         <div class="footer__info-col">
            <a href="./index.html" class="footer__logo"><img src="@img/logo-black.svg" alt="logo" /></a>
            <p class="footer__text">м. Київ, вул. Хрещатик, 13</p>
            <p class="footer__text">© 2007-2023</p>
         </div>
         <div class="footer__payments-col payments">
            <div class="payments__list">
               <div class="payments__item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-apple-pay"></use>
                  </svg>
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-apple-pay-w"></use>
                  </svg>
               </div>
            </div>
         </div>
         <div class="footer__col"></div>
      </div>
   </div>
</footer>
