<header class="header">
   <div class="header__container-m">
      <div class="header__content">
         <div class="header__body">
            <a href="./index.html" class="header__logo header__logo_pc"><img src="@img/logo-black.svg" alt="logo" /></a>
            <nav class="header__menu">
               <ul class="header__menu-list">
                  <li class="header__menu-item">Головна</li>
                  <li class="header__menu-item">Послуги</li>
                  <li class="header__menu-item">Переваги</li>
               </ul>
            </nav>
            <a class="header__phone" href="tel:+38093777131">+38 (093) 777 13 31</a>
            <div class="header__languages">
               <button type="button" class="header__lang-item _active">UA</button>
               <button type="button" class="header__lang-item">RU</button>
            </div>
            <div class="header__social">
               <button type="button" class="header__social-item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-viber-white"></use>
                  </svg>
               </button>
               <button type="button" class="header__social-item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-whatsapp-white"></use>
                  </svg>
               </button>
               <button type="button" class="header__social-item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-facebook-white"></use>
                  </svg>
               </button>
               <button type="button" class="header__social-item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-instagram-white"></use>
                  </svg>
               </button>
               <button type="button" class="header__social-item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-telegram-white"></use>
                  </svg>
               </button>
            </div>
         </div>
         <a href="./index.html" class="header__logo header__logo_mob header__logo_mob-black"
            ><img src="@img/logo-black.svg" alt="logo"
         /></a>
         <a href="./index.html" class="header__logo header__logo_mob header__logo_mob-white"
            ><img src="@img/logo-white.svg" alt="logo"
         /></a>
         <button type="button" class="header__burger icon-menu"><span></span></button>
      </div>
   </div>
</header>
